<a href="https://colab.research.google.com/github/creatingaaaaaaa/20221112/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in range(2, 101):
 if i%2==0 :
  print(i,end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [4]:
year = 0
balance = 1000

while balance <= 2000 :
      year = year + 1
      interest = balance * 0.07
      balance = balance + interest
print(year, "년이 걸립니다.")

11 년이 걸립니다.

In [5]:
n = 1234
sum = 0
while n > 0 :
    digit = n % 10
    sum = sum + digit
    n = n // 10
print(sum)

10

In [6]:
ans = 0
while ans != 3*9:
 ans = int(input("3*9는"))
print("맞았습니다.")

3*9는27
맞았습니다.

In [7]:
sum = 0
while True:
  x = int(input("정수를 입력하시오: "))
  if x == 0:
   break;
  sum = sum + x
print("합은 ", sum, "입니다.")

정수를 입력하시오: 1
정수를 입력하시오: 2
정수를 입력하시오: 3
정수를 입력하시오: 0
합은  6 입니다.

In [8]:
from random import randint
for i in range(3) :
 d1 = randint(1, 6)
 d2 = randint(1, 6)
 print("첫번째 주사위=", d1, "두번째 주사위=", d2)

첫번째 주사위= 5 두번째 주사위= 5
첫번째 주사위= 5 두번째 주사위= 3
첫번째 주사위= 2 두번째 주사위= 4

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")
t.left(90)
for i in range (1,7):
  t.forward(100)
  t.forward(-30)
  t.left(60)
  t.forward(30)
  t.forward(-30)
  t.right(120)
  t.forward(30)
  t.forward(-30)
  t.left(60)
  t.forward(-70)
  t.left(60)

In [ ]:
import turtle
myPen = turtle.Turtle()
myPen.speed(0)
myPen.color("#FF0000")
for j in range (1,10):
  for i in range (1,6):
    myPen.left(144)
    myPen.forward(200)
  myPen.left(10)

In [ ]:
import turtle
import random
t = turtle.Turtle()
t.shape("turtle")
for j in range (1,10):
  t.up()
  x = random.randint(-200, 200)
  y = random.randint(-200, 200)
  r = random.randint(10, 200)
  t.goto(x, y)
  t.down()
  t.circle(r)

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")
for i in range(5):
  t.forward(200);
  t.right(90)
  t.forward(20);
  t.right(90)
  t.forward(200);
  t.left(90)
  t.forward(20);
  t.left(90)

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")
t.color('red', 'yellow')
t.begin_fill()
while True:
  t.forward(200)
  t.left(170)
  if abs(t.pos()) < 1:
    break
t.end_fill()

In [ ]:
import turtle
import math
t= turtle.Turtle()
t.shape("turtle")
t.color('red', 'yellow')
for x in range(0, 360):
 t.goto(x,200*math.sin(x*3.14/180))